* {
    box-sizing: border-box;
}

.temperature-conversion-parent {
    width: 100vw;
    height: 100vh;
    display: table-cell;
    vertical-align: middle;
    background-color: #808080;
}

.temperature-conversion-content {
    margin: 0 auto;
    max-width: 400px;
    background-color: #FEEED5;
    border: #000 solid 1px;
    padding: 5px 15px;
}

.temperature-conversion-content > h1 {
    margin: 5px 0;
}

.temperature-conversion-form-text > div {
    margin: 10px 0;
}

.celsius-temperature-field {
    width: 220px;
}

.temperature-conversion-form > * {
    display: inline-block;
    vertical-align: top;
    margin: 5px 0;
}

.temperature-conversion-form-field {
    height: 35px;
}

.temperature-conversion-form-button:hover {
    background-color: #0094FF;
    border: 2px solid #000;
}

.temperature-conversion-form-button {
    background-color: #388DB2;
    cursor: pointer;
}

.error-message {
    color: #F00;
    display: none;
}

.invalid ~ .error-message {
    display: block;
}

.invalid {
    border: #F00 solid 1px;
}