* {
    box-sizing: border-box;
}

.parent {
    background-color: #1F1F1F;
    width: 100vw;
    height: 100vh;
    display: table-cell;
    vertical-align: middle;
}

.content {
    margin: 0 auto;
    max-width: 860px;
}

.table {
    width: 100%;
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 1px solid #CECFD0;
}

.table>thead>tr>th {
    background-color: #3698DB;
    border: 1px solid #CECFD0;
    color: #FFF;
    font-weight: normal;
    text-align: left;
    padding: 12px 10px;
}

.table>tbody tr:nth-child(even) {
    background-color: #FFF;
}

.table>tbody tr:nth-child(odd) {
    background-color: #EEE;
}

.table>tbody td {
    border: 1px solid #CECFD0;
    padding: 14px 10px;
}